body {
	margin: 2px;
	font-family: Arial;
	background: #f1f1f1;
	
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.topnav li {float: left;}

ul.topnav li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

ul.topnav li.icon {display: none;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
background-color: #ddd;
}

li a:hover:not(.active) {
  border-radius: 50%;
}

* {
  box-sizing: border-box;
}

h5 {
  font-size:1.2vw;
  width: 200px;
  border : 2px;
  border-style: solid;
  border-color: #ebebe0;
  border-width: 3px; 
}

h2 {
  font-size:2vw;
}
p {
  font-size:1.2vw;
}
.leftcolumn {   
  float: left;
  width: 25%;
}

.rightcolumn {
  float: left;
  width: 75%;
  background-color: #f1f1f1;
  padding-left: 2%;
  padding-right: 2%;
}

.card {
  background-color: white;
  padding: 2%;
  margin-top: 2%;
}

.card a{
    text-decoration: none;
    font-size: 1vw;
    color: 000;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

card input[type="submit"]{
     cursor: pointer;
	 background: linear-gradient(top, #efefef, #ddd);
     color: #333;
     text-shadow: 0px 1px 1px rgba(255,255,255,1);
     border: 1px solid #ccc;
	 float: center;
	 font-size:1.2vw;
}
 
card input[type="submit"]:hover {
	 background: linear-gradient(top, #eee, #ccc);
     border: 1px solid #bbb;
	 float: center;
}

h1{
	font-size:3vw;
	text-align: center;
}

card a{
    text-decoration: none;
    font-size: 1.5vw;
    color: 000;
}

card a:hover{
    color: red;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
